* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(243, 243, 243, 0.1);
}

.text {
    &--center {
        text-align: center;
    }

    &--green {
        color: $color-green !important;
    }

    &--white {
        color: $color-white !important;
    }

    &--red {
        color: $color-red !important;
    }
}

.padding {
    &-top {
        &-10 {
            &-px {
                padding-top: 10px;
            }
        }
        &-20 {
            &-px {
                padding-top: 20px;
            }
        }
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.position {
    &--relative {
        position: relative;
    }
}

.navbar-toggler {
    background-color: $color-white;
}
