.navbar {
    color: $color-white;
    font-size: 30px;

    &__item {
        color: $color-white;
    }

    &__link {
        cursor: pointer;
        padding: 0 10px;
        color: $color-white;
        font-size: 20px;
        font-weight: 400;
        transition: all 0.4s ease-in-out;
        &:hover {
            color: $color-red;
            text-decoration: none;
        }

        &--active {
            color: $color-red;
        }
    }

    &__brand {
        font-size: 30px;
        font-style: italic;
        color: $color-white;
        transition: all 0.4s ease-in-out;

        &:hover {
            color: $color-red;
            text-decoration: none;
        }
    }

    &__background {
        background-color: rgba(0, 0, 0, 0.6) !important;
    }
}
