.section {
    width: 100%;
    padding: 10% 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        padding: 15px;
        max-width: 800px;
        font-size: 1.5rem;
        line-height: 1.2;
        @media screen and (max-width: 600px) {
            font-size: 1rem;
        }

        &--width1200 {
            max-width: 1200px;
        }
    }

    &__header {
        font-size: 4rem;
        color: $color-green;
        padding-bottom: 25px;
        @media screen and (max-width: 600px) {
            font-size: 2.5rem;
        }
    }

    &__subheader {
        font-size: 2rem;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    &__text {
        font-size: 1.2rem;
        padding-bottom: 15px;
    }

    &__item {
        line-height: 1.3;
    }

    &__link {
        color: $color-green;
        &:hover {
            color: $color-green;
            text-decoration: none;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        padding: 0 10px;
    }

    &__footer {
        height: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
