@import "_cssreset.scss";
@import "_variables.scss";
@import "_base.scss";
@import "_navbar.scss";
@import "_section.scss";

.welcome {
    &__logo {
        max-width: 350px;
        max-height: 350px;
    }

    &__page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/zdjecieFront.jpg);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

//////////////////////////////////////////

// font-awesome icons
.fab {
    font-size: 30px;
    letter-spacing: 30px;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.bg-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg-3.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
